body {
	padding: 0;
	margin: 0;
}

canvas {
	overflow: hidden;
}

.foot {
	position: relative;
	height: 60px;
	/* background: red; */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.navigation {
	display: flex;
	justify-content: space-between;
	/* position: absolute; */
	/* bottom: 15%; */
	/* transform: translate(-50%, -50%); */
	/* width: 80%; */
}
